<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <a href="/user/<%= @user.uuid %>" class="material-icons back-arrow link--no-styling">arrow_back</a>
            <span class="mdl-layout-title"><%= @list.name %></span>
            <button id="show-add-content" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">add</i>
            </button>
            <div class="mdl-layout-spacer"></div>
            <button id="show-delete-list" class="mdl-button mdl-js-button mdl-button--icon" type="button">
                <i class="material-icons">delete_forever</i>
            </button>
            <div id="snackbar-delete-list" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <form action="/delete/<%= @list.name %>" method="post">
                    <input type="hidden" name="list-name" value="<%= @list.id %>">
                    <button class="mdl-snackbar__action" type="submit"></button>
                </form>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            Groups
            <button id="show-add-group"class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">add</i>
            </button>
            <div class="mdl-tooltip" for="add_group">
                Create New Group
            </div>
        </span>
        <div class="divider"></div>
        <ul>
            <% if @groups %>
                <% for group in @groups %>
                    <li class="collapsible">
                        <div class="collapsible-group">
                            <%= group.name %>
                            <div class="delete-group">
                                <form action="#" method="post">
                                    <i class="material-icons">close</i>
                                </form>
                            </div>
                        </div>
                        <div>
                            <ul>
                                <% for list in @lists.select{|x| x.group_id == group.id} %>
                                    <li class="list-click">
                                        <a href="/user/<%= @user.uuid %>/<%= list.name %>/content">
                                            <%= list.name %>
                                        </a>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </li>
                <% end %>
            <% end %>
        </ul>
        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="demo-menu-top-right">
            <li class="mdl-menu__item">
                Delete groups
            </li>
            <a href="/logout">
                <li class="mdl-menu__item">
                    Logout
                </li>
            </a>
        </ul>
        <footer id="demo-menu-top-right" class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">
                    <i id="person" class="material-icons">person</i>
                </div>
                <div class="mdl-logo">
                    <span><%= @user.f_name %></span>
                </div>
                <div id="setting" class="mdl-logo">
                    <button class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons link--no-styling">settings</i>
                    </button>
                </div>
            </div>
        </footer>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <% if @content.empty? == false %>
                <div class="demo-card-wide mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__supporting-text">
                        <ul class="demo-list-icon mdl-list">
                            <% for content in @content %>
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">list</i>
                                        <h4>
                                            <%= content.name %>
                                        </h4>
                                    </span>
                                </li>
                                <div class="list-divider"></div>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% else %>
                <div class="no-content">
                    <h2>There's no items yet. Create some!</h2>
                </div>
            <% end %>
        </div>
    </main>
</div>

<dialog id="add-content" class="mdl-dialog">
    <div class="mdl-dialog__actions">
        <button id="button" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored close">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <h3 class="mdl-dialog__title">New List Item</h3>
    <div class="mdl-dialog__content">
        <form action="/new_content" method="post">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="content-name" id="content-name">
                <label for="content-name" class="mdl-textfield__label">Item name...</label>
            </div>
            <input type="hidden" name="list-id" value="<%= @list.id %>">
            <div class="mdl-dialog__actions">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Create
                </button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="add-group" class="mdl-dialog">
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored close">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <h3 class="mdl-dialog__title">New Group</h3>
    <div class="mdl-dialog__content">
        <form action="/new_group" method="post">
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" name="group-name" class="mdl-textfield__input" id="group-name">
                <label class="mdl-textfield__label" for="group-name">Group name...</label>
            </div>
            <div class="mdl-dialog__actions">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Create
                </button>
            </div>
        </form>
    </div>
</dialog>

<script>
    (function (){
        var addList = document.getElementById("add-content")
        var closeButton = addList.querySelector('#button')
        var showButton = document.querySelector('#show-add-content')
        if (! addList.showModal) {
            dialogPolyfill.registerDialog(addList);
        }
        var closeClickHandler = function(event) {
            addList.close();
        }
        var showClickHandler = function(event) {
            addList.showModal();
        }
        showButton.addEventListener('click', showClickHandler);
        closeButton.addEventListener('click', closeClickHandler)

        var addGroup = document.querySelector('#add-group')
        var showDialogButton = document.querySelector('#show-add-group')
        if (! addGroup.showModal) {
            dialogPolyfill.registerDialog(addGroup);
        }
        showDialogButton.addEventListener('click', function() {
            addGroup.showModal();
        });
        addGroup.querySelector('.close').addEventListener('click', function() {
            addGroup.close();
        });
    }());
</script>
<script>
    (function (){
        'use strict';
        var snackbarContainer = document.querySelector('#snackbar-delete-list');
        var showToastButton = document.querySelector('#show-delete-list');
        var handler = function(event) {
            showToastButton = '';
        }
        showToastButton.addEventListener('click', function() {
            'use strict';
            var data = {
                message: 'Are you sure you want to delete the list?',
                timeout: 20000,
                actionHandler: handler,
                actionText: 'Yes'
            };
            snackbarContainer.MaterialSnackbar.showSnackbar(data);
        });

    }());

</script>
