<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Lists</span>
            <button id="show-add-list" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">add</i>
            </button>
            <div class="mdl-tooltip" for="add_list">
                Create New List
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            Groups
            <button id="show-add-group"class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">add</i>
            </button>
            <div class="mdl-tooltip" for="add_group">
                Create New Group
            </div>
        </span>
        <div class="divider"></div>

        <ul>
            <% if @groups %>
                <% for group in @groups %>
                    <li class="collapsible">
                        <div class="collapsible-group">
                            <%= group.name %>
                            <div class="delete-group">
                                <form action="/user/delete/groups" method="post">
                                    <input type="hidden" name="group" value="<%= group.id %>">
                                    <button class="delete-group mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div>
                            <ul>
                                <% for list in @lists.select{|x| x.group_id == group.id} %>
                                    <li class="list-click">
                                        <a href="/user/<%= @user.uuid %>/<%= list.name %>/content">
                                            <%= list.name %>
                                        </a>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </li>
                <% end %>
            <% end %>
        </ul>
        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="demo-menu-top-right">
            <li id="hide" class="mdl-menu__item">
                Delete groups
            </li>
            <a href="/logout">
                <li class="mdl-menu__item">
                    Logout
                </li>
            </a>
        </ul>
        <footer id="demo-menu-top-right" class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">
                    <i id="person" class="material-icons">person</i>
                </div>
                <div class="mdl-logo">
                    <span><%= @user.f_name %></span>
                </div>
                <div id="setting" class="mdl-logo">
                    <button class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons link--no-styling">settings</i>
                    </button>
                </div>
            </div>
        </footer>
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">
            <% if @lists.empty? == false %>
                <div class="demo-card-wide mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__supporting-text">
                        <ul class="demo-list-icon mdl-list">
                        <% for list in @lists %>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">list</i>
                                    <h4>
                                        <a href="/user/<%= @user.uuid %>/<%= list.name %>/content">
                                            <%= list.name %>
                                        </a>
                                    </h4>
                                </span>
                            </li>
                            <div class="list-divider"></div>
                        <% end %>
                        </ul>
                    </div>
                </div>
            <% else %>
                <div class="no-content">
                    <h2>There's no lists yet. Create one!</h2>
                </div>
            <% end %>
        </div>
    </main>
</div>

<dialog id="add-list" class="mdl-dialog">
    <div class="mdl-dialog__actions">
        <button id="button" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored close">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <h3 class="mdl-dialog__title">New List</h3>
    <div class="mdl-dialog__content">
        <form action="/new_list" method="post">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="list-name" id="list-name">
                <label for="list-name" class="mdl-textfield__label">List name...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="group" class="mdl-textfield__input" type="text" id="group">
                <label for="group" class="mdl-textfield__label">Add to group...</label>
            </div>
            <p>
                You can share lists with friends! Write their email-address below to do so!
            </p>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="share-user" class="mdl-textfield__input" type="text" id="share-user">
                <label for="share-user" class="mdl-textfield__label">Email...</label>
            </div>
            <div class="mdl-dialog__actions">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Create
                </button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="add-group" class="mdl-dialog">
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored close">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <h3 class="mdl-dialog__title">New Group</h3>
    <div class="mdl-dialog__content">
        <form action="/new_group" method="post">
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" name="group-name" class="mdl-textfield__input" id="group-name">
                <label class="mdl-textfield__label" for="group-name">Group name...</label>
            </div>
            <div class="mdl-dialog__actions">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Create
                </button>
            </div>
        </form>
    </div>
</dialog>

<script>
    (function (){
        var addList = document.getElementById("add-list")
        var closeButton = addList.querySelector('#button')
        var showButton = document.querySelector('#show-add-list')
        if (! addList.showModal) {
            dialogPolyfill.registerDialog(addList);
        }
        var closeClickHandler = function(event) {
            addList.close();
        }
        var showClickHandler = function(event) {
            addList.showModal();
        }
        showButton.addEventListener('click', showClickHandler);
        closeButton.addEventListener('click', closeClickHandler)

        var addGroup = document.querySelector('#add-group')
        var showDialogButton = document.querySelector('#show-add-group')
        if (! addGroup.showModal) {
            dialogPolyfill.registerDialog(addGroup);
        }
        showDialogButton.addEventListener('click', function() {
            addGroup.showModal();
        });
        addGroup.querySelector('.close').addEventListener('click', function() {
            addGroup.close();
        });
    })();
</script>
